In [1]:
#import pandas library as pd
import pandas as pd
#import matplotlib library as plt 
import matplotlib.pyplot as plt
import numpy as np

import gmaps
gmaps.configure(api_key="AIzaSyBTCJoSu5RfTHhARWZsGM3T_sWaoUpal7c")

ModuleNotFoundError: No module named 'gmaps'

In [3]:
dfs = pd.read_html('http://en.wikipedia.org/wiki/List_of_tallest_buildings_and_structures_in_the_world', header=0, parse_dates=False)
dfs

[  Map all coordinates using OSM Map all coordinates using Google
 0                      Export all coordinates as KML
 1                      Export all coordinates as GPX
 2                 Map all microformatted coordinates
 3                                  Place data as RDF            ,
 Empty DataFrame
 Columns: [Unnamed: 0, This section needs additional citations for verification. Please help improve this article by adding citations to reliable sources. Unsourced material may be challenged and removed. (August 2007) (Learn how and when to remove this template message)]
 Index: [],
                                       Category  \
 0                                    Mixed use
 1                        Self-supporting tower
 2                     Guyed steel lattice mast
 3                               Clock building
 4                                       Office
 5                           Military structure
 6                                Mast radiator
 7                                  Twin towers
 8                                  Residential
 9                                      Chimney
 10                                       Radar
 11                               Lattice tower
 12                           Electricity pylon
 13                       Partially guyed tower
 14                    Guyed tubular steel mast
 15                               Bridge pillar
 16                   Scientific research tower
 17  Blaw-Knox Tower (diamond cantilever tower)
 18                                         Dam
 19                                      Office
 20                                  University
 21                                Wind turbine
 22                                      Office
 23                                     Minaret
 24                               Cooling tower
 25                                    Monument
 26                                 Water tower
 27                            Wooden structure
 28                               Masonry tower
 29                          Inclined structure
 30                                     Obelisk
 31                                Ferris wheel
 32                            Masonry building
 33                            Masonry building
 34                                    Flagpole
 35                                Church tower
 36                             Industrial hall
 37                                        Dome
 38                              Memorial cross
 39                                   Telescope
 40                              Roller coaster
 41                                        Tomb
 42                                  Lighthouse
 43                   Air traffic control tower
 44                     Statue (incl. pedestal)
 45                                       Stupa
 46                        Wooden lattice tower
 47                                Storage silo
 48                Aerial tramway support tower
 49                                      Sphere
 50                            Brick lighthouse
 51                                     Gopuram
 52                               Wooden church

                                             Structure               Country  \
 0                                        Burj Khalifa  United Arab Emirates
 1                                       Tokyo Skytree                 Japan
 2                                        KVLY-TV mast         United States
 3                                Abraj Al Bait Towers          Saudi Arabia
 4                              One World Trade Center         United States
 5                      Large masts of INS Kattabomman                 India
 6                           Lualualei VLF transmitter         United States
 7                                Petronas Twin Towers              Malaysia
 8                                     432 Park Avenue         United States
 9                      Ekibastuz GRES-2 Power Station            Kazakhstan
 10                              Dimona Radar Facility                Israel
 11                                      Kiev TV Tower               Ukraine
 12             Zhoushan Island Overhead Powerline Tie                 China
 13                                    Gerbrandy Tower           Netherlands
 14                                 TV Tower Vinnytsia               Ukraine
 15                                     Millau Viaduct                France
 16                      Amazon Tall Tower Observatory                Brazil
 17                                     Lakihegy Tower               Hungary
 18                                      Jinping-I Dam                 China
 19                               4 World Trade Center         United States
 20           Main building of Moscow State University                Russia
 21          Hausbay Nordex N131/3300 Wind Turbine [1]               Germany
 22                               7 World Trade Center         United States
 23                                   Hassan II Mosque               Morocco
 24                    Kalisindh Thermal Power Station                 India
 25                                       Gateway Arch         United States
 26                        Main tower of Kuwait Towers                Kuwait
 27                 ATLAS-I at Kirtland Air Force Base         United States
 28                             Anaconda Smelter Stack         United States
 29                                    Olympic Stadium                Canada
 30                               San Jacinto Monument         United States
 31                                        High Roller         United States
 32                                  Mole Antonelliana                 Italy
 33                             Philadelphia City Hall         United States
 34                                    Jeddah Flagpole          Saudi Arabia
 35                                      Ulmer Münster               Germany
 36                          Vehicle Assembly Building         United States
 37  Dome of the Basilica of Our Lady of Peace of Y...           Ivory Coast
 38                 Santa Cruz del Valle de los Caídos                 Spain
 39                                  Arecibo Telescope         United States
 40                                          Kingda Ka         United States
 41                              Great Pyramid of Giza                 Egypt
 42                                       Jeddah Light          Saudi Arabia
 43  Kuala Lumpur International Airport 2 Control T...              Malaysia
 44                               Spring Temple Buddha                 China
 45                                  Phra Pathom Chedi              Thailand
 46                                Gliwice Radio Tower                Poland
 47                                Schapfen Mill Tower               Germany
 48    Pillar of third section of Gletscherbahn Kaprun               Austria
 49                                     Ericsson Globe                Sweden
 50                                Lighthouse of Genoa                 Italy
 51                                Murudeshwara Temple                 India
 52               Church of the Săpânța-Peri Monastery               Romania

                              City Height (metres)  Height (feet) Year built  \
 0                           Dubai           828.1         2717.0       2010
 1                           Tokyo             634         2080.0       2011
 2         Blanchard, North Dakota           628.8         2063.0       1963
 3                           Mecca             601         1972.0       2011
 4                    New York, NY             541         1776.0       2013
 5                     Tirunelveli             471         1545.0       2014
 6               Lualualei, Hawaii             458         1503.0       1972
 7                    Kuala Lumpur             452         1482.0       1998
 8                        New York           425.5         1396.0       2015
 9                       Ekibastuz           419.7         1377.0       1987
 10                         Dimona             400         1312.0       2008
 11                           Kiev             385         1263.0       1973
 12                       Zhoushan             370         1214.0       2009
 13                    IJsselstein           366.8         1203.0       1961
 14                      Vinnytsia             354         1161.0       1961
 15                         Millau             342         1122.0       2004
 16            160 km NE of Manaus          325[4]         1066.0       2015
 17              Szigetszentmiklós             314         1031.0       1968
 18                      Liangshan             305         1001.0       2013
 19                   New York, NY             288          945.0       2013
 20                         Moscow             240          787.4       1953
 21                        Hausbay           229.5          753.0       2016
 22                   New York, NY             226          743.0       2006
 23                     Casablanca             210          689.0       1993
 24                       Jhalawar          202[5]          663.0       2012
 25            St. Louis, Missouri             192          630.0       1965
 26                    Kuwait City             187          614.0       1979
 27                    Albuquerque             180          600.0       1980
 28              Anaconda, Montana           178.3          585.0       1919
 29                       Montreal             175          574.0       1976
 30                La Porte, Texas           173.7          570.0       1939
 31                      Las Vegas           167.6          550.0       2014
 32                         Torino             167          548.0       1889
 33                   Philadelphia             167          548.0       1901
 34                         Jeddah          171[6]          561.0       2014
 35                            Ulm             162          530.0       1890
 36  Kennedy Space Center, Florida             160          525.0       1966
 37                   Yamoussoukro             158          518.0       1990
 38                    El Escorial           152.4          500.0       1957
 39           Arecibo, Puerto Rico             150          492.0       1963
 40            Jackson, New Jersey          138.98          456.0       2005
 41                           Giza           138.8          455.2    2560 BC
 42                         Jeddah             133          436.0    1990[7]
 43                         Sepang           141.3          463.6    2013[8]
 44                         Lushan             128          420.0       2002
 45                  Nakhon Pathom             127          417.0       1870
 46                        Gliwice             118          387.0       1935
 47                            Ulm             115          377.0       2005
 48                         Kaprun           113.6          373.0       1966
 49                      Stockholm              85          279.0       1989
 50                          Genoa              77          253.0       1543
 51                   Murudeshwara              76          249.0       2008
 52                        Săpânța              75          246.0       2003

                                           Coordinates
 0   25°11′50.0″N 55°16′26.6″E﻿ / ﻿25.197222°N 55.2...
 1   35°42′36.5″N 139°48′39″E﻿ / ﻿35.710139°N 139.8...
 2   47°20′32″N 97°17′25″W﻿ / ﻿47.34222°N 97.29028°...
 3   21°25′08″N 39°49′35″E﻿ / ﻿21.41889°N 39.82639°...
 4   40°42′46.8″N 74°0′48.6″W﻿ / ﻿40.713000°N 74.01...
 5   8°22′42.52″N 77°44′38.45″E﻿ / ﻿8.3784778°N 77....
 6   21°25′11.87″N 158°08′53.67″W﻿ / ﻿21.4199639°N ...
 7   3°09′27.45″N 101°42′40.7″E﻿ / ﻿3.1576250°N 101...
 8                                                 NaN
 9   52°1′26.3″N 75°28′34.5″E﻿ / ﻿52.023972°N 75.47...
 10  30°58′6.93″N 35°05′49.64″E﻿ / ﻿30.9685917°N 35...
 11  50°28′16.49″N 30°27′11.97″E﻿ / ﻿50.4712472°N 3...
 12  29°56′2.78″N 122°2′10.12″E﻿ / ﻿29.9341056°N 12...
 13  52°00′36.24″N 05°03′12.87″E﻿ / ﻿52.0100667°N 5...
 14  49°14′30.04″N 28°25′25.25″E﻿ / ﻿49.2416778°N 2...
 15  44°05′09.97″N 03°01′17.94″E﻿ / ﻿44.0861028°N 3...
 16  02°29′06″S 59°35′33″W﻿ / ﻿2.48500°S 59.59250°W...
 17  47°22′23″N 19°00′16″E﻿ / ﻿47.37306°N 19.00444°...
 18  28°11′07″N 101°37′42″E﻿ / ﻿28.18528°N 101.6283...
 19  40°42′46.8″N 74°0′48.6″W﻿ / ﻿40.713000°N 74.01...
 20  55°42′11″N 37°31′49″E﻿ / ﻿55.70306°N 37.53028°...
 21  50°06′58.59″N 7°32′36.98″E﻿ / ﻿50.1162750°N 7....
 22  40°42′46.8″N 74°0′48.6″W﻿ / ﻿40.713000°N 74.01...
 23  33°36′28.71″N 7°37′58.16″W﻿ / ﻿33.6079750°N 7....
 24  24°32′04.97″N 76°05′57.89″E﻿ / ﻿24.5347139°N 7...
 25  38°37′28.62″N 90°11′5.87″W﻿ / ﻿38.6246167°N 90...
 26  29°23′22.75″N 48°00′11.57″E﻿ / ﻿29.3896528°N 4...
 27  35°01′48″N 106°33′27″W﻿ / ﻿35.029898°N 106.557...
 28  46°06′36.53″N 112°54′48.8″W﻿ / ﻿46.1101472°N 1...
 29  45°33′33.53″N 73°33′7.61″W﻿ / ﻿45.5593139°N 73...
 30  29°44′59.46″N 95°04′50.52″W﻿ / ﻿29.7498500°N 9...
 31  36°07′03″N 115°10′05″W﻿ / ﻿36.117402°N 115.168...
 32  45°04′8.45″N 7°41′35.62″E﻿ / ﻿45.0690139°N 7.6...
 33  39°57′9.79″N 75°09′48.72″W﻿ / ﻿39.9527194°N 75...
 34  21°30′28.23″N 39°10′11.04″E﻿ / ﻿21.5078417°N 3...
 35  48°23′55″N 9°59′30.78″E﻿ / ﻿48.39861°N 9.99188...
 36  28°35′9.64″N 80°39′2.11″W﻿ / ﻿28.5860111°N 80....
 37  6°48′40″N 5°17′47″W﻿ / ﻿6.81111°N 5.29639°W﻿ /...
 38  40°38′31.46″N 4°9′19.6″W﻿ / ﻿40.6420722°N 4.15...
 39  18°20′39″N 66°45′10″W﻿ / ﻿18.34417°N 66.75278°...
 40  40°08′26.54″N 74°25′59.83″W﻿ / ﻿40.1407056°N 7...
 41  29°58′44.93″N 31°08′3.09″E﻿ / ﻿29.9791472°N 31...
 42  21°28′07.14″N 39°08′58.98″E﻿ / ﻿21.4686500°N 3...
 43  2°44′26″N 101°40′45″E﻿ / ﻿2.740486°N 101.67906...
 44  33°46′31″N 112°27′04″E﻿ / ﻿33.775150°N 112.451...
 45  13°49′11″N 100°3′37″E﻿ / ﻿13.81972°N 100.06028...
 46  50°18′48.12″N 18°41′20.26″E﻿ / ﻿50.3133667°N 1...
 47  48°25′57″N 9°58′58″E﻿ / ﻿48.43250°N 9.98278°E﻿...
 48  47°11′58.62″N 12°41′16.96″E﻿ / ﻿47.1996167°N 1...
 49  59°17′36.92″N 18°04′58.79″E﻿ / ﻿59.2935889°N 1...
 50  44°24′16.25″N 8°54′16.67″E﻿ / ﻿44.4045139°N 8....
 51  14°05′39″N 74°29′07″E﻿ / ﻿14.094197°N 74.48516...
 52  47°58′59.5″N 23°42′02.5″E﻿ / ﻿47.983194°N 23.7...  ,
                               Category                     Structure  \
 0                           Guyed mast             Warsaw Radio Mast
 1            Scientific research tower                    BREN Tower
 2             Guyed tubular steel mast  Shushi-Wan Omega Transmitter
 3  Structure for scientific experiment             Smokey Shot Tower
 4                     Wooden structure    Mühlacker Wood Radio Tower
 5                     Masonry building             Mole Antonelliana
 6          Pre-Industrial Era building             Lincoln Cathedral
 7                         Storage silo                Henninger Turm

           Country              City  Height (metres)  Height (feet)  \
 0          Poland             Gąbin           646.38         2121.0
 1   United States  Nevada Test Site           462.00         1516.0
 2           Japan          Tsushima           389.00         1276.0
 3   United States  Nevada Test Site           213.00          700.0
 4         Germany         Mühlacker           190.00          623.0
 5           Italy            Torino           167.50          549.5
 6  United Kingdom           Lincoln           160.00          524.0
 7         Germany         Frankfurt           120.00          394.0

                                          Coordinates  \
 0  52°22′3.74″N 19°48′8.73″E﻿ / ﻿52.3677056°N 19....
 1  36°46′50.23″N 116°14′36.9″W﻿ / ﻿36.7806194°N 1...
 2  34°36′53″N 129°27′13″E﻿ / ﻿34.61472°N 129.4536...
 3  37°11′13.63″N 116°4′7.93″W﻿ / ﻿37.1871194°N 11...
 4  48°56′27.67″N 8°51′8.24″E﻿ / ﻿48.9410194°N 8.8...
 5  45°04′8.45″N 7°41′35.62″E﻿ / ﻿45.0690139°N 7.6...
 6  53°14′3.26″N 0°32′10.54″W﻿ / ﻿53.2342389°N 0.5...
 7  50°05′50.18″N 8°41′36.81″E﻿ / ﻿50.0972722°N 8....

                                              Remarks
 0     completed in 1974, collapsed on August 8, 1991
 1    completed in 1962, destroyed on May 23, 2012[9]
 2              completed in 1973, dismantled in 1998
 3  Guyed mast, which carried 44 kt yield nuclear ...
 4  completed in 1934, destroyed on April 6, 1945,...
 5  spire destroyed by a tornado in 1953 (rebuilt ...
 6         completed in 1311, spire blown off in 1549
 7            constructed in 1961, demolished in 2013  ,
       Category                                      Structure  \
 0   Mixed-Use*                                   Burj Khalifa
 1       Office                         One World Trade Center
 2  Residential                                432 Park Avenue
 3        Hotel                      JW Marriott Marquis Dubai
 4  Educational                        Moscow State University
 5    Religious                               Hassan II Mosque
 6     Hospital  Outpatient Center, Houston Methodist Hospital

                 Country           City  Architectural top (metres)  \
 0  United Arab Emirates          Dubai                      830.00
 1         United States  New York City                      541.00
 2         United States  New York City                      425.50
 3  United Arab Emirates          Dubai                      355.00
 4                Russia         Moscow                      240.00
 5               Morocco     Casablanca                      210.00
 6         United States        Houston                      156.05

    Architectural top (feet)
 0                    2722.0
 1                    1776.0
 2                    1396.0
 3                    1166.0
 4                     787.0
 5                     689.0
 6                     511.8  ,
                                       Date (Event) Architectural top  \
 0                     2010: Burj Khalifa completed      Burj Khalifa
 1        2009: CTBUH omits Height to Roof category        Taipei 101
 2  2008: Shanghai World Financial Center completed        Taipei 101
 3                       2003: Taipei 101 completed        Taipei 101
 4             2000: Willis Tower antenna extension   Petronas Towers
 5                  1998: Petronas Towers completed   Petronas Towers
 6                   1996: CTBUH defines categories      Willis Tower

             Highest occupied floor                             Roof  \
 0                     Burj Khalifa                              NaN
 1  Shanghai World Financial Center                              NaN
 2  Shanghai World Financial Center  Shanghai World Financial Center
 3                       Taipei 101                       Taipei 101
 4                     Willis Tower                     Willis Tower
 5                     Willis Tower                     Willis Tower
 6                     Willis Tower                     Willis Tower

                   Tip
 0        Burj Khalifa
 1        Willis Tower
 2        Willis Tower
 3        Willis Tower
 4        Willis Tower
 5  World Trade Center
 6  World Trade Center  ,
    Record from Record held (years)  \
 0   c. 2650 BC                  40
 1   c. 2610 BC                   5
 2   c. 2605 BC                   5
 3   c. 2600 BC                  40
 4   c. 2560 BC                3871
 5         1311                 238
 6         1549                  20
 7         1569                   4
 8         1573          94 (20+74)
 9         1647                 227
 10        1874                   2
 11        1876                   4
 12        1880                   4
 13        1884                   5
 14        1889                  41
 15        1930                   1
 16        1931                  36

In [4]:
# There are several tables on the page.  By inspection we can figure out which one we want
tallest = dfs[2]  
tallest.head()

,Category,Structure,Country,City,Height (metres),Height (feet),Year built,Coordinates
0,Mixed use,Burj Khalifa,United Arab Emirates,Dubai,828.1,2717.0,2010,25°11′50.0″N 55°16′26.6″E﻿ / ﻿25.197222°N 55.2...
1,Self-supporting tower,Tokyo Skytree,Japan,Tokyo,634,2080.0,2011,35°42′36.5″N 139°48′39″E﻿ / ﻿35.710139°N 139.8...
2,Guyed steel lattice mast,KVLY-TV mast,United States,"Blanchard, North Dakota",628.8,2063.0,1963,47°20′32″N 97°17′25″W﻿ / ﻿47.34222°N 97.29028°...
3,Clock building,Abraj Al Bait Towers,Saudi Arabia,Mecca,601,1972.0,2011,21°25′08″N 39°49′35″E﻿ / ﻿21.41889°N 39.82639°...
4,Office,One World Trade Center,United States,"New York, NY",541,1776.0,2013,40°42′46.8″N 74°0′48.6″W﻿ / ﻿40.713000°N 74.01...

In [5]:
import re

def clean_lat_long(s):
    try:
        parts = s.split("/")
    except AttributeError:
        return (None, None)
    if len(parts)<3:
        return None
    m=re.search(r"(\d+[.]\d+);[^\d]*(\d+[.]\d+)[^\d]", parts[2])
    if not m:
        return (None, None)
    return (m.group(1), m.group(2))

In [6]:
tallest['Clean_Coordinates'] = tallest['Coordinates'].apply(clean_lat_long)
tallest['Latitude'] = tallest['Clean_Coordinates'].apply(lambda x:x[0])
tallest['Longitude'] = tallest['Clean_Coordinates'].apply(lambda x:x[1])

tallest.head()

,Category,Structure,Country,City,Height (metres),Height (feet),Year built,Coordinates,Clean_Coordinates,Latitude,Longitude
0,Mixed use,Burj Khalifa,United Arab Emirates,Dubai,828.1,2717.0,2010,25°11′50.0″N 55°16′26.6″E﻿ / ﻿25.197222°N 55.2...,"(25.197222, 55.274056)",25.197222,55.274056
1,Self-supporting tower,Tokyo Skytree,Japan,Tokyo,634,2080.0,2011,35°42′36.5″N 139°48′39″E﻿ / ﻿35.710139°N 139.8...,"(35.710139, 139.81083)",35.710139,139.81083
2,Guyed steel lattice mast,KVLY-TV mast,United States,"Blanchard, North Dakota",628.8,2063.0,1963,47°20′32″N 97°17′25″W﻿ / ﻿47.34222°N 97.29028°...,"(47.34222, 97.29028)",47.34222,97.29028
3,Clock building,Abraj Al Bait Towers,Saudi Arabia,Mecca,601,1972.0,2011,21°25′08″N 39°49′35″E﻿ / ﻿21.41889°N 39.82639°...,"(21.41889, 39.82639)",21.41889,39.82639
4,Office,One World Trade Center,United States,"New York, NY",541,1776.0,2013,40°42′46.8″N 74°0′48.6″W﻿ / ﻿40.713000°N 74.01...,"(40.713000, 74.013500)",40.713000,74.013500

In [7]:
fig = gmaps.figure()
#fig.add_layer(gmaps.marker_layer())
fig

NameError: name 'gmaps' is not defined