## Marking the tallest buildings in the world on Google Maps

Simple tutorial on how to get this done. 
Note the following: 
1. Caution! Some people have ran into problems installing the gmaps package (with `conda install -c conda-forge gmaps`, or see [here](http://jupyter-gmaps.readthedocs.io/en/latest/install.html) for installation instructions). It is best advised to create a new virtual environment in Anaconda to fiddle with this, just in case it messes up with your root environment.
2. You need to request for a Google API key. You can do it at the [Google API Developer Console](https://console.developers.google.com/), of course with a Google account.
3. The original "cleaning" of coordinates into latitude and longitude doesn't seem to be correct (the code currently just takes the value without considering whether the location is to the east or west of GMT, or to the north or south of the Equator. Fix it!

Have fun!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import gmaps
       
gmaps.configure(api_key="ADD YOUR OWN GOOGLE API KEY HERE") # Your Google API key

In [2]:
dfs = pd.read_html('http://en.wikipedia.org/wiki/List_of_tallest_buildings_and_structures_in_the_world', header=0, parse_dates=False)

In [3]:
tallest = dfs[2]

In [4]:
import re

def clean_lat_long(s):
    try:
        parts = s.split("/")
    except AttributeError:
        return (None, None)
    if len(parts)<3:
        return None
    m=re.search(r"(\d+[.]\d+);[^\d]*(\d+[.]\d+)[^\d]", parts[2])
    if not m:
        return (None, None)
    return (m.group(1), m.group(2))

In [5]:
tallest['Clean_Coordinates'] = tallest['Coordinates'].apply(clean_lat_long)
tallest['Latitude'] = tallest['Clean_Coordinates'].apply(lambda x:x[0])
tallest['Longitude'] = tallest['Clean_Coordinates'].apply(lambda x:x[1])

tallest.head()

,Category,Structure,Country,City,Height (metres),Height (feet),Year built,Coordinates,Clean_Coordinates,Latitude,Longitude
0,Mixed use,Burj Khalifa,United Arab Emirates,Dubai,828.1,2717.0,2010,25°11′50.0″N 55°16′26.6″E﻿ / ﻿25.197222°N 55.2...,"(25.197222, 55.274056)",25.197222,55.274056
1,Self-supporting tower,Tokyo Skytree,Japan,Tokyo,634,2080.0,2011,35°42′36.5″N 139°48′39″E﻿ / ﻿35.710139°N 139.8...,"(35.710139, 139.81083)",35.710139,139.81083
2,Guyed steel lattice mast,KVLY-TV mast,United States,"Blanchard, North Dakota",628.8,2063.0,1963,47°20′32″N 97°17′25″W﻿ / ﻿47.34222°N 97.29028°...,"(47.34222, 97.29028)",47.34222,97.29028
3,Clock building,Abraj Al Bait Towers,Saudi Arabia,Mecca,601,1972.0,2011,21°25′08″N 39°49′35″E﻿ / ﻿21.41889°N 39.82639°...,"(21.41889, 39.82639)",21.41889,39.82639
4,Office,One World Trade Center,United States,"New York, NY",541,1776.0,2013,40°42′46.8″N 74°0′48.6″W﻿ / ﻿40.713000°N 74.01...,"(40.713000, 74.013500)",40.713000,74.013500

In [6]:
lat = tallest['Latitude'].apply(pd.to_numeric)
long = tallest['Longitude'].apply(pd.to_numeric)
locations = list(zip(lat,long))

# fix one missing data for 432 Park Avenue, New York, which was obtained by just searching on Google :)
locations[8] = (40.7616, -73.9718)
locations

[(25.197222, 55.274056000000009),
 (35.710138999999998, 139.81083000000001),
 (47.342220000000005, 97.29028000000001),
 (21.418890000000001, 39.826390000000004),
 (40.713000000000001, 74.013499999999993),
 (8.3784777999999989, 77.744013900000013),
 (21.419963899999999, 158.1482417),
 (3.1576249999999999, 101.71130600000001),
 (40.7616, -73.9718),
 (52.023972000000001, 75.476249999999993),
 (30.968591700000001, 35.097122200000001),
 (50.471247200000001, 30.453325),
 (29.934105600000002, 122.03614440000001),
 (52.010066700000003, 5.0535750000000004),
 (49.241677799999998, 28.423680600000004),
 (44.086102799999999, 3.0216500000000002),
 (2.4849999999999999, 59.592500000000001),
 (47.373059999999995, 19.004439999999999),
 (28.185279999999999, 101.62833000000001),
 (40.713000000000001, 74.013499999999993),
 (55.703060000000001, 37.530279999999998),
 (50.116275000000002, 7.5436055999999994),
 (40.713000000000001, 74.013499999999993),
 (33.607975000000003, 7.6328222000000006),
 (24.5347139, 76.099413900000002),
 (38.624616700000004, 90.184963900000014),
 (29.3896528, 48.003213899999999),
 (35.029897999999996, 106.557574),
 (46.1101472, 112.913556),
 (45.559313899999999, 73.552113900000009),
 (29.749849999999999, 95.080699999999993),
 (36.117401999999998, 115.168127),
 (45.069013899999995, 7.693227799999999),
 (39.952719399999999, 75.163533299999997),
 (21.5078417, 39.169733299999997),
 (48.398609999999998, 9.9918833000000014),
 (28.586011100000004, 80.650586099999998),
 (6.8111100000000002, 5.2963899999999997),
 (40.642072200000001, 4.1554440000000001),
 (18.344170000000002, 66.752780000000001),
 (40.140705600000004, 74.433286099999989),
 (29.9791472, 31.134191700000002),
 (21.46865, 39.149716699999999),
 (2.7404860000000002, 101.679069),
 (33.775149999999996, 112.451016),
 (13.819720000000002, 100.06028000000001),
 (50.313366700000003, 18.6889611),
 (48.432499999999997, 9.98278),
 (47.1996167, 12.688044400000001),
 (59.293588899999996, 18.082997199999998),
 (44.404513899999998, 8.9046305999999991),
 (14.094196999999999, 74.485163),
 (47.983193999999997, 23.700693999999999)]

In [7]:
fig = gmaps.figure()
fig.add_layer(gmaps.marker_layer(locations))
fig

<font color="#ec1c24">Notice how there are no buildings marked to the West of the GMT (except for 432 Park Avenue, New York) and to the south of the Equator? </font>